<h1>{{ page.title }}</h1>

<div>
  {{ page.content }}
</div>


<!-- Only need EMAIL and MSG for contact form to be valid -->
{% form 'contact' %}
  {{ form.errors | default_errors }}

  <div class="full-name">
    <label for="full-name">Full name</label>
    <input
      type="text"
      name="contact[full_name]"
      id="full-name" />
  </div>

  <div class="test-field">
    <label for="test-field">Test field</label>
    <input
      type="radio"
      name="contact[test_field]"
      id="test-field" />
  </div>

  <!-- 
  <div class="phone">
  <label for="phone">Phone</label>
  <input type="tel" name="contact[phone]" id="phone" />
  </div>
  --><div class="email">
    <label for="email">Email</label>
    <input
      type="email"
      name="contact[email]"
      id="email" />
  </div>
  <!--
  <div class="order-number">
  <label for="order-number">Order number</label>
  <input type="text" name="contact[order_number]" id="order-number" />
  </div>
  --><div class="message">
    <label for="message">Message</label>
    <textarea name="contact[body]" id="message"></textarea>
  </div>

  <div class="submit">
    <input type="submit" value="Send Message" />
  </div>
{% endform %}